<section class="advantages-section" id="advantages">
  <div class="container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обирати нас?</h2>
    <p class="advantages-dscrp">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-img-container">
          <picture>
            <source 
            srcset="/img/mob-advantages-1-1x.webp 1x, 
            /img/mob-advantages-1-2x.webp 2x"
            media="(max-width: 767px)" type="image/webp"
            />

            <source 
            srcset="/img/tab-advantages-1-1x.webp 1x, 
            /img/tab-advantages-1-2x.webp 2x"
            media="(min-width: 768px) and (max-width: 1439px)" type="image/webp"
            />

            <source 
            srcset="/img/des-advantages-1-1x.webp 1x, 
            /img/des-advantages-1-2x.webp 2x"
            media="(min-width:1440px)" type="image/webp"
            />
            
            <img
            class="advantages-img"
            srcset="
              /img/des-advantages-1-1x.webp 1x,
              /img/des-advantages-1-2x.webp 2x
            "
            src="/img/des-advantages-1-1x.webp"
            alt="Екологічна бавовна та перероблений пластик лежать на столі естетично"
            />
            </picture>
        </div>
        <h3 class="advantages-item-title">Стійкість та екологічність</h3>
        <p class="advantages-item-dscr">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-img-container">
          <picture>
            <source 
            srcset="/img/mob-advantages-2-1x.webp 1x, 
            /img/mob-advantages-2-2x.webp 2x"
            media="(max-width: 767px)" type="image/webp"
            />

            <source 
            srcset="/img/tab-advantages-2-1x.webp 1x, 
            /img/tab-advantages-2-2x.webp 2x"
            media="(min-width: 768px) and (max-width: 1439px)" type="image/webp"
            />

            <source 
            srcset="/img/des-advantages-2-1x.webp 1x, 
            /img/des-advantages-2-2x.webp 2x"
            media="(min-width:1440px)" type="image/webp"
            />
            
            <img
            class="advantages-img"
            srcset="
              /img/des-advantages-2-1x.webp 1x,
              /img/des-advantages-2-2x.webp 2x
            "
            src="/img/des-advantages-2-1x.webp"
            alt="Руки майстра шиють еко-сумку на швейній машинці"
            />
            </picture>
        </div>
        <h3 class="advantages-item-title">Міцність і довговічність</h3>
        <p class="advantages-item-dscr advantages-dscrp-bottom">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item advantages-item-full">
        <div class="advantages-img-container">
          <picture>
            <source 
            srcset="/img/mob-advantages-3-1x.webp 1x, 
            /img/mob-advantages-3-2x.webp 2x"
            media="(max-width: 767px)" type="image/webp"
            />

            <source 
            srcset="/img/tab-advantages-3-1x.webp 1x, 
            /img/tab-advantages-3-2x.webp 2x"
            media="(min-width: 768px) and (max-width: 1439px)" type="image/webp"
            />

            <source 
            srcset="/img/des-advantages-3-1x.webp 1x, 
            /img/des-advantages-3-2x.webp 2x"
            media="(min-width:1440px)" type="image/webp"
            />
            
            <img
            class="advantages-img advantages-img-full"
            srcset="
              /img/des-advantages-3-1x.webp 1x,
              /img/des-advantages-3-2x.webp 2x
            "
            src="/img/des-advantages-3-1x.webp"
            alt="Зелена жовта та червона еко-сумки на білому фоні"
            />
            </picture>
        </div>
        <h3 class="advantages-item-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-item-dscr">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
