<section class="section-assortment container" id="assortment">
  <h2 class="assortment-title">Наші сумки</h2>
  <ul class="assortment-list">
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-1-1x.webp 1x,
            /img/mob-assortment-1-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-1-1x.webp 1x,
            /img/tab-assortment-1-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-1-1x.webp 1x,
            /img/des-assortment-1-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-1-1x.webp"
          alt="Містка сумка."
          width="288"
          height="346"
        />
      </picture>

      <h3 class="assortment-subtitle" lang="en">EcoBag Classic</h3>
      <p class="assortment-item-text">
        Елегантна та містка сумка для щоденного використання.
      </p>
      <p class="assortment-item-price">$25</p>
      <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-2-1x.webp 1x,
            /img/mob-assortment-2-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-2-1x.webp 1x,
            /img/tab-assortment-2-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-2-1x.webp 1x,
            /img/des-assortment-2-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-2-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>

      <h3 class="assortment-subtitle" lang="en">EcoTote Shopper</h3>
      <p class="assortment-item-text">
        Ідеальна для покупок, з <br />посиленими ручками.
      </p>
      <p class="assortment-item-price">$30</p>
      <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-3-1x.webp 1x,
            /img/mob-assortment-3-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <sourc3
          srcset="
            /img/tab-assortment-3-1x.webp 1x,
            /img/tab-assortment-3-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-3-1x.webp 1x,
            /img/des-assortment-3-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-3-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>
      <h3 class="assortment-subtitle" lang="en">EcoBackpack Urban</h3>
      <p class="assortment-item-text">
        Зручний рюкзак для міста з відділенням для ноутбука.
      </p>
      <p class="assortment-item-price">$45</p>
      <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-4-1x.webp 1x,
            /img/mob-assortment-4-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-4-1x.webp 1x,
            /img/tab-assortment-4-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-4-1x.webp 1x,
            /img/des-assortment-4-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-4-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>
      <h3 class="assortment-subtitle" lang="en">EcoCrossbody Mini</h3>
      <p class="assortment-item-text">
        Компактна сумка через плече для найнеобхіднішого.
      </p>
      <p class="assortment-item-price">$20</p>
      <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-5-1x.webp 1x,
            /img/mob-assortment-5-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-5-1x.webp 1x,
            /img/tab-assortment-5-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-5-1x.webp 1x,
            /img/des-assortment-5-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-5-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>
      <h3 class="assortment-subtitle" lang="en">EcoLunch Bag</h3>
      <p class="assortment-item-text">Стильна та практична сумка для обідів.</p>
      <p class="assortment-item-price">$15</p>
      <button class="assortment-btn assortment-btn-margin" type="button">
        Купити
      </button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-6-1x.webp 1x,
            /img/mob-assortment-6-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-6-1x.webp 1x,
            /img/tab-assortment-6-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-6-1x.webp 1x,
            /img/des-assortment-6-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-6-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>
      <h3 class="assortment-subtitle" lang="en">EcoBeach Tote</h3>
      <p class="assortment-item-text">
        Велика сумка для пляжних речей з водонепроникною підкладкою.
      </p>
      <p class="assortment-item-price">$35</p>
      <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-7-1x.webp 1x,
            /img/mob-assortment-7-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-7-1x.webp 1x,
            /img/tab-assortment-7-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-7-1x.webp 1x,
            /img/des-assortment-7-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-7-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>
      <h3 class="assortment-subtitle" lang="en">EcoTravel Duffle</h3>
      <p class="assortment-item-text">
        Містка дорожня сумка з додатковими кишенями.
      </p>
      <p class="assortment-item-price">$60</p>
      <button class="assortment-btn" type="button">Купити</button>
    </li>
    <li class="assortment-item">
      <picture>
        <source
          srcset="
            /img/mob-assortment-8-1x.webp 1x,
            /img/mob-assortment-8-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/tab-assortment-8-1x.webp 1x,
            /img/tab-assortment-8-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/des-assortment-8-1x.webp 1x,
            /img/des-assortment-8-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="assortment-item-img"
          src="/img/mob-assortment-8-1x.webp"
          alt="Сумка для покупок."
          width="288"
          height="346"
        />
      </picture>
      <h3 class="assortment-subtitle" lang="en">EcoKids Bag</h3>
      <p class="assortment-item-text">Яскрава та зручна сумка для дітей.</p>
      <p class="assortment-item-price">$22</p>
      <button class="assortment-btn assortment-btn8-margin" type="button">
        Купити
      </button>
    </li>
  </ul>
</section>
