 <!-- _____________FEEDBACK__________ -->
 <section class="section-title">
        <div class="container">
          <div class="title-div">
            <h2 class="title-head">Що говорять наші клієнти</h2>
            <ul class="title-list">
              <li class="title-list-item">
                <ul class="rating-list">
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="list-item">
                  Сумка дуже зручна та стильна, використовую щодня!
                </h3>
                <p class="title-name">Анна</p>
              </li>
              <li class="title-list-item">
               <ul class="rating-list">
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="list-item">
                  Відмінна якість матеріалів, приємно здивована.
                </h3>
                <p class="title-name">Ігор</p>
              </li>
              <li class="title-list-item">
                <ul class="rating-list">
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="list-item">
                  Сумка повністю відповідає опису, рекомендую!
                </h3>
                <p class="title-name">Олена</p>
              </li>
              <li class="title-list-item">
                <ul class="rating-list">
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="rating-item">
                    <svg class="rating" width="20" height="21">
                      <use href="../img/icons.svg#icon-star"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="list-item">
                  Швидка доставка та гарне обслуговування.
                </h3>
                <p class="title-name">Сергій</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      