 <!-- _____________FEEDBACK__________ -->
 <section class="feedback-section">
        <div class="container">
          <div class="feedback-div"> 
            <h2 class="feedback-title">Що говорять наші <span class="feedback-desktop"><br></span>клієнти</h2>
            <ul class="feedback-list">
              <li class="feedback-list-item">
                <ul class="feedback-rating-list">
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="feedback-li">
                  Сумка дуже зручна та стильна, використовую щодня!
                </h3>
                <p class="feedback-name">Анна</p>
              </li>
              <li class="feedback-list-item">
               <ul class="feedback-rating-list">
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="feedback-li">
                  Відмінна якість матеріалів, приємно здивована.
                </h3>
                <p class="feedback-name">Ігор</p>
              </li>
              <li class="feedback-list-item">
                <ul class="feedback-rating-list">
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="feedback-li">
                  Сумка повністю відповідає опису, рекомендую!
                </h3>
                <p class="feedback-name">Олена</p>
              </li>
              <li class="feedback-list-item">
                <ul class="feedback-rating-list">
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star-fillled"></use>
                    </svg>
                  </li>
                  <li class="feedback-rating-item">
                    <svg class="feedback-rating-svg" width="20" height="20">
                      <use href="../img/icons.svg#icon-star"></use>
                    </svg>
                  </li>
                </ul>
                <h3 class="feedback-li">
                  Швидка доставка та гарне обслуговування.
                </h3>
                <p class="feedback-name">Сергій</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      