<section id="gallery" class="gallery-section">
            <div class="container gallery-container">
                <div class="gallery-box">
                <h2 class="gallery-title">Галерея зображень</h2>
                <p class="gallery-paragraph">EcoTotes у повсякденному житті</p>
                </div>

                <ul class="gallery-list">
                <!-- ПЕРША КАРТИНКА -->
                <li class="gallery-item">
                    <picture class="gallery-picture">
                    <source srcset="../img/mob-gallery-4-1x.webp 1x, ../img/mob-gallery-4-2x.webp 2x" media="(max-width: 767px)">
                    <source srcset="../img/tab-gallery-4-1x.webp 1x, ../img/tab-gallery-4-2x.webp 2x" media="(min-width: 768px) and (max-width: 1199px)">
                    <source srcset="../img/des-gallery-4-1x.webp 1x, ../img/des-gallery-4-2x.webp 2x" media="(min-width: 1200px)">
                    <img class="gallery-image" src="../img/mob-gallery-4-1x.webp" alt="Перша Картинка" loading="lazy">
                    </picture>
                </li>

                <!-- ДРУГА КАРТИНКА -->
                <li class="gallery-item">
                    <picture class="gallery-picture">
                    <source srcset="../img/mob-gallery-1-1x.webp 1x, ../img/mob-gallery-1-2x.webp 2x" media="(max-width: 767px)">
                    <source srcset="../img/tab-gallery-1-1x.webp 1x, ../img/tab-gallery-1-2x.webp 2x" media="(min-width: 768px) and (max-width: 1199px)">
                    <source srcset="../img/des-gallery-1-1x.webp 1x, ../img/des-gallery-1-2x.webp 2x" media="(min-width: 1200px)">
                    <img class="gallery-image" src="../img/mob-gallery-1-1x.webp" alt="Друга Картинка" loading="lazy">
                    </picture>
                </li>

                <!-- ТРЕТЯ КАРТИНКА -->
                <li class="gallery-item">
                    <picture class="gallery-picture">
                    <source srcset="../img/mob-gallery-2-1x.webp 1x, ../img/mob-gallery-2-2x.webp 2x" media="(max-width: 767px)">
                    <source srcset="../img/tab-gallery-2-1x.webp 1x, ../img/tab-gallery-2-2x.webp 2x" media="(min-width: 768px) and (max-width: 1199px)">
                    <source srcset="../img/des-gallery-2-1x.webp 1x, ../img/des-gallery-2-1x.webp 2x" media="(min-width: 1200px)">
                    <img class="gallery-image" src="../img/mob-gallery-2-1x.webp" alt="Третя Картинка" loading="lazy">
                    </picture>
                </li>

                <!-- ЧЕТВЕРТА КАРТИНКА -->
                <li class="gallery-item">
                    <picture class="gallery-picture">
                    <source srcset="../img/mob-gallery-3-1x.webp 1x, ../img/mob-gallery-3-2x.webp 2x" media="(max-width: 767px)">
                    <source srcset="../img/tab-gallery-3-1x.webp 1x, ../img/tab-gallery-3-2x.webp 2x" media="(min-width: 768px) and (max-width: 1199px)">
                    <source srcset="../img/des-gallery-3-1x.webp 1x, ../img/des-gallery-3-2x.webp 2x" media="(min-width: 1200px)">
                    <img class="gallery-image" src="../img/mob-gallery-3-1x.webp" alt="Четверта Картинка" loading="lazy">
                    </picture>
                </li>
                </ul>
            </div>
        </section>