<header class="header">
    <div class="container header-container">
        <a class="header-logo-link" href="/index.html">
            <img class="header-logo-icon"
             src="/img/company-logo.svg"
              alt="Ecotone"
              width="84" height="36">
        </a>
        <nav class="header-navigation">


                    <!-- Desktop -->
                    
                        <ul class="header-list">
                            <li class="list-item">
                                <a class="item-link" href="#about">Про нас</a>
                            </li>
                            <li class="list-item">
                                <a class="item-link" href="#advantages">Переваги</a>
                            </li>
                            <li class="list-item">
                                <a class="item-link" href="#assortment">Асортимент</a>
                            </li>
                            <li class="list-item">
                                <a class="item-link" href="#gallery">Галерея</a>
                            </li>
                            <li class="list-item">
                                <a class="item-link" href="#feedbacks">Відгуки</a>
                            </li>
                            <li class="list-item">
                                <a class="item-link" href="#support">Контакти</a>
                            </li>
                        </ul>

                        </nav>

                        <address class="header-address">
                            <ul class="header-address-navigation">
                                <li class="header-address-item">
                                    <a class="header-address-link" href="tel:+380999091122">+38 (099) 909 11 22</a>
                                </li>
                                <li class="header-address-item">
                                    <a class="header-address-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                                </li>
                            </ul>
                        </address>

<button class="menu-open-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg class="menu-icons" width="32" height="32">
        <use href="/img/icons.svg#icon-menu">
        </use>
    </svg>
</button>
</div>

<!-- Navbar open  -->
 <div class="navbar-menu js-menu-container" id="mobile-menu">
    
        <div class="container-logo-icon">
        <a class="navbar-logo-link" href="../index.html">
            <img class="navbar-logo-icon"
            src="/img/company-logo.svg"
            alt="Ecotone"
            width="84"
            height="36">
        </a>
    
        <button class="navbar-btn-close js-close-menu">
            <svg class="btn-close-icons" width="32" height="32">
                <use href="/img/icons.svg#icon-x">
                </use>
            </svg>
        </button>
    
</div>

<div class="mobile-container">
    <div class="navbar-navigation">
        <nav class="navbar-navigation-menu">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" href="#about">Про нас</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#advantages">Переваги</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#assortment">Асортимент</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#gallery">Галерея</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#feedbacks">Відгуки</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="">Контакти</a>
                </li>
            </ul>
           
        </nav>
    </div>
    
    <div class="navbar-adress">
    
        <address class="navbar-address-menu">
            <ul class="navbar-address-navigation">
                <li class="navbar-address-item">
                    <a class="navbar-address-link" href="tel:+380999091122">+38 (099) 909 11 22</a>
                </li>
                <li class="navbar-address-item">
                    <a class="navbar-address-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                </li>
            </ul>
        </address>
    </div>
</div>

 </div>

</header>