<section class="section-hero">
    <div class="hero container">
        <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
        <div class="hero-content">
            <p class="hero-text">
                Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність разом з EcoTote.
            </p>
            <a class="hero-btn" href="#assortment"><span class="btn-text">Купити зараз</span></a>
        </div>
        <img 
        class="hero-img" 
        srcset="/img/mob-hero-1x.webp,
        /img/mob-hero-2x.webp"

        src="/img/mob-hero-1x.webp" 
        alt="Сумки-шопери стоять на лавці."
        width="288"
        height="285">
    </div>
</section>