<section class="support-section" id="support">
  <div class="container">
    <div class="support-wrapper">
        <div class="support-form-wrapper">
      <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
      <h3 class="support-paragraph">Ми тут, щоб допомогти!</h3>
    <form class="support-form">
      <div class="support-field">
        <label for="user-name" class="support-label">Ім'я</label>
        <div class="support-name-div">
          <input
            type="text"
            class="support-input"
            placeholder="Іван"
            name="user-name"
            id="user-name"
            required
          />
        </div>
      </div>

      <div class="support-field">
        <label for="user-email" class="support-label">Електронна пошта</label>
        <div class="support-email-div">
          <input
            type="email"
            class="support-input"
            placeholder="hello@ecotote.com"
            name="user-email"
            id="user-email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            minlength="5" 
            maxlength="64" 
            required
          />
          <p class="support-text-invalid">Error</p>
        </div>
      </div>
      <div class="support-field">
        <label for="user-comment" class="support-label">Повідомлення</label>
        <textarea
          name="user-comment"
          id="user-comment"
          class="support-textarea"
          placeholder="Введіть своє повідомлення..."
          maxlength="500" 
        ></textarea>
      </div>
      <button type="submit" class="button-send">Надіслати</button>
      </form>      
    </div>
    <div class="background-image">
    </div>
  </div>
  </div>
</section>
