/* Styles for Mobile devices */
.section-about {
  background-color: #030a06;
  background-image: url('/img/mob-about-1x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 320px;
  color: #fff;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .section-about {
        background-image: url('/img/mob-about-2x.webp');
    }
}

.about-content {
  max-width: 288px;
  max-height: 220px;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.about-subtitle {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.about-text {
  line-height: 1.6;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .section-about {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section-about {
    background-image: url('/img/tab-about-1x.webp');
    min-width: 768px;
  }

   @media screen and (min-resolution: 2x),  (-webkit-min-device-pixel-ratio: 2) {
     .section-about {
         background-image: url('/img/tab-about-2x.webp');
     }
   }

   .about-content {
   max-width: 768px;
   max-height: 165px;
   margin-left: auto;
   margin-right: auto;
  }

  .about-title {
  margin-bottom: 16px;
}

.about-subtitle {
  margin-bottom: 24px;
}

.about-text {
  max-width: 573px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
} 

}

@media only screen and (max-width: 1439px) {
  .section-about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .section-about {
    background-image: url('/img/des-about-1x.webp');
    min-width: 1440px;
    padding-top: 112px;
    padding-bottom: 94px;
  }

   @media screen and (min-resolution: 2x),  (-webkit-min-device-pixel-ratio: 2) {
     .section-about {
         background-image: url('/img/des-about-2x.webp');
     }
   }

   .about-content {
   max-height: 256px;
   margin-left: auto;
   margin-right: auto;
  }

  .about-subtitle {
  font-size: 56px;
  max-width: 629px;
  margin-left: auto;
  margin-right: auto;
}

}
